body {
    color: var(--body-text-color);

    .article-content {
        font-family: "LXGW WenKai Screen", sans-serif;
    }

    .article-title {
        font-family: "LXGW WenKai Screen", sans-serif;
    }

    .article-page {
        font-family: "HarmonyOS_Regular", sans-serif;
    }
}

.sidebar header .site-name {
    display: none;
}

[data-scheme="dark"] {
    .article-content {
        color: var(--card-text-color-main);
        font-family: "LXGW WenKai Screen", sans-serif;
    }

    .article-title {
        font-family: "LXGW WenKai Screen", sans-serif;
    }

    .article-page {
        font-family: "HarmonyOS_Regular", sans-serif;
    }

    svg {
        color: inherit;
    }
}